/*Zeroing*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	font-family: "Fira Sans", sans-serif;
	line-height: 1;
	box-sizing: border-box;
	font-size: 16px;
	color: #111238;
	overflow-x: hidden;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input ::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button ::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a {
	text-decoration: none;
	color: #111238;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}
/*--------------------*/

.header {
	background: #f2f3f6;
}

.menu-item:not(:last-child) {
	margin: 0 20px 0 0;
}

.menu-link:hover {
	color: #1a75e8;
}

.menu {
	display: flex;
}

.burger {
	display: none;
}

.menu-registration {
	align-items: center;
	justify-content: end;
}

.button-link {
	padding: 10px;
	margin: 0 30px 0 0;
}

.logo-link img {
	width: 100%;
}

.header-image {
	width: 100%;
}

.button-prefab {
	background: #1a75e8;
	border-radius: 5px;
	padding: 15px 30px;
	color: #fff;
}

.hero-title {
	font-weight: 900;
	font-size: 44px;
	line-height: 53px;
	margin: 43px 0 0 0;
}

.hero-subtitle {
	font-size: 18px;
	line-height: 140%;
	margin: 15px 0 30px 0;
}

.input-group {
	background: #fff;
	border: 1px solid rgba(168, 78, 78, 0.1);
	box-shadow: 0px 4px 25px rgba(15, 17, 56, 0.1);
	border-radius: 5px;
	padding: 10px;
	margin: 0 0 25px 0;
}

.input {
	background: #fff;
	flex-grow: 1;
	font-size: 16px;
	line-height: 19px;
	padding-left: 15px;
}

.input:focus {
	outline: none;
}

.button-icon {
	vertical-align: middle;
	margin: 0 10px 0 0;
}

.button-text {
	font-size: 16px;
	line-height: 19px;
	vertical-align: middle;
}

.tags-group {
	font-size: 14px;
	line-height: 17px;
	color: #b2b2b2;
}

.tags-lable {
	margin: 0 15px 0 0;
}

.tag {
	border: 1px solid #b2b2b2;
	color: #b2b2b2;
	border-radius: 5px;
	padding: 5px 10px;
	margin: 0 10px 0 0;
}

.tag:last-child {
	margin: 0;
}

.section-title {
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	margin: 70px 0 40px 0;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #111238;
	background: #f2f3f6;
	border-radius: 10px;
	padding: 35px 55px;
	transition: background 0.3s, color 0.2s;
}

.card:hover {
	background: #1a75e8;
	color: #fff;
}

.card:hover .card-icon {
	fill: #fff;
}

.card-icon {
	fill: #111238;
	width: 24px;
	height: 24px;
	margin: 0 0 15px 0;
	transition: fill 0.2s;
}

.case {
	display: flex;
	justify-content: space-around;
	border: 1px solid #c5c9d5;
	border-radius: 10px;
	padding: 30px 0;
	align-items: center;
	margin: 0 0 20px 0;
}

.tags-box {
	display: flex;
}

.case-container {
	display: flex;
	align-items: center;
}

.case-text {
	margin: 0 0 0 20px;
}

.case-title {
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
}

.case-subtitle {
	font-size: 14px;
	line-height: 17px;
	color: #111238;
	opacity: 0.8;
}

.case-details {
	margin: 0 0 0 176px;
	font-size: 14px;
	line-height: 17px;
	color: #1a75e8;
}

.case-button {
	padding: 10px 25px;
	font-weight: bold;
}

.mail {
	background: #f2f3f6;
	padding: 47px 0 65px 0;
}

.mailing {
	text-align: center;
}

.mailing__box {
	padding: 0 48px 0 48px;
}

.footer {
	padding: 70px 0 100px 0;
}

.footer__text {
	font-size: 12px;
	line-height: 140%;
	color: #b2b2b2;
	margin: 20px 0 0 0;
}

.footer__title {
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	margin: 0 0 15px 0;
}

.footer__subtitle {
	display: block;
	margin: 0 0 10px 0;
}
